<link rel="stylesheet" href="~/css/web/footer.css" />

<footer class="site-footer">
    <div class="newsletter-banner">
        <div class="container banner-flex">
            <div class="banner-left">
                <img src="~/images/banner/bannernewsletter.png" alt="Newsletter Banner">
            </div>
            
            <div class="banner-right">
                <a href="#" class="btn-click">
                    
                    CLICK HERE
                </a>
            </div>
        </div>
    </div>

    <div class="footer-main">
        <div class="container footer-grid">

            <div class="footer-col">
                <img src="~/images/logo/nam.png" alt="Logo" class="footer-logo">
                <div class="company-info">
                    <p><strong>Website văn phòng phẩm công ty Nam Supplies</strong></p>
                    <p>ĐKKD: 0100100216...</p>
                    <p>Trụ sở chính: 25 Lý Thường Kiệt, Hoàn Kiếm, Hà Nội</p>
                    <p>Điện thoại: 0707.431804</p>
                    <p>Email: dvkh@Nam Supplies.com.vn</p>
                </div>
            </div>

            <div class="footer-col">
                <h3>Chính sách bán hàng</h3>
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Hướng dẫn đặt hàng</a></li>
                    <li><a href="#">Chính sách vận chuyển</a></li>
                    <li><a href="#">Cam kết chính hãng</a></li>
                </ul>
                <h3 style="margin-top: 20px;">Hình thức thanh toán</h3>
                <img src="~/images/banner/payment.png" alt="Payment Methods" style="max-width: 100%;">
            </div>

            <div class="footer-col">
                <h3>Hotline liên hệ</h3>
                <div class="hotline-box">
                    <span class="phone-number">0707.31804</span>
                    <p>08h00-17h00 (T2-T6)</p>
                </div>
                <h3>Kết nối với chúng tôi</h3>
                <div class="social-icons">
                    <a href="#"><img src="~/images/banner/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="~/images/banner/twitter.png" alt="Twitter"></a>
                    <a href="#"><img src="~/images/banner/youtube.png" alt="Youtube"></a>
                    <a href="#"><img src="~/images/banner/instar.png" alt="Instagram"></a>
                </div>
                <h3>Chứng nhận</h3>
                <img src="~/images/banner/guaranteeimg.png" alt="Certification" width="120">
            </div>

            <div class="footer-col">
                <h3>Hệ thống cửa hàng</h3>
                <div class="store-list">
                    <p>
                        <strong>Lý Thường Kiệt</strong><br>
                        Số 25 Lý Thường Kiệt, P. Cửa Nam, Hoàn Kiếm, HN
                    </p>
                    <p>
                        <strong>Vincom Long Biên</strong><br>
                        Tầng 1, TTTM Vincom Plaza Long Biên, HN
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
