@model List<vpp_shop.Models.CategoryGroup>

<div class="dropdown-mega">
    <!-- NỘI DUNG: HIỂN THỊ TẤT CẢ -->
    <div class="mega-contents">
        <div class="mega-columns">

            @foreach (var group in Model)
            {
                <div class="mega-group">
                    <a href="/san-pham/group/@group.Id"
                       class="mega-group-title">
                        @group.Name
                    </a>


                    @foreach (var cat in group.Categories)
                    {
                        <a href="/san-pham/category/@cat.Id">
                            @cat.Name
                        </a>
                    }
                </div>
            }

        </div>
    </div>

</div>
